@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<Div><img src="@Url.Content("~/Content/Images/ErrorImage.png")" /></Div>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>If you think this is an error with the code, please contact the site owner.</h3>

<h3>If you need to get elevated access to the site, please follow this<a href="https://www.owasp.org/index.php/Main_Page"> link...</a></h3>

<h3>Thank you for your cooperation!</h3>

@*All images used in this application were obtained under the creative commons licence and are free for all usages and modification including commercial use. Regards Lar. IDX15031195*@

